<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册页面</title>
</head>

<body>
    <h1>注册</h1>
    <a href="{% url 'myauth:home' %}">返回 主页</a>

    {% if register_form.errors %}
        <p>{{ register_form.errors}} </p>
    {% endif %}

    <!-- <form action="" method="POST">
        {% csrf_token %} {{ register_form.as_p }}
        <button type="submit">注册</button>
    </form> -->


    <form action="" method="POST">
        {% csrf_token %}
        <p><label for="id_username">用户名:</label> <input type="text" name="username" maxlength="150" autofocus required id="id_username"
            /> <span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span></p>
        <p><label for="id_password1">密码:</label> <input type="password" name="password1" required id="id_password1" /> <span
                class="helptext"><ul>
                    <li>你的密码不能与其他个人信息太相似。</li>
                    <li>你的密码必须包含至少 8 个字符。</li>
                    <li>你的密码不能是大家都爱用的常见密码。</li>
                    <li>你的密码不能全部为数字。</li>
                </ul></span></p>
        <p><label for="id_email">电子邮件地址:</label> <input type="email" name="email" maxlength="254" id="id_email" /></p>
        <p><label for="id_昵称">昵称:</label> <input type="text" name="昵称" maxlength="50" id="id_昵称" /></p>
        <p><label for="id_生日">生日:</label> <input type="date" name="生日" id="id_生日" /></p>
        <p><label for="id_password2">密码确认:</label> <input type="password" name="password2" required id="id_password2" />            <span
                class="helptext">为了校验，请输入与上面相同的密码。</span></p>
        <button type="submit">注册</button>
    </form>


    {{ error }}
</body>

</html>