<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册页面</title>
</head>
<body>
    <h1>注册</h1>
    <a href="{% url 'myauth:home' %}">返回 主页</a>

    <!-- {% if register_form.errors %}
        <p>{{ register_form.errors}} </p>
    {% endif %} -->

    <form action="" method="POST">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type="submit">注册</button>
    </form>
    {{ error }}
</body>
</html>